:root {
	--color-white: #fff;
	--color-grey-dark: #333;
	--color-grey-medium: #7a7a7a;
	--color-grey-light: #efefef;

	--page-padding: 2rem;

	--margin-bottom-assignment-info: 0.3rem;
	--logo-text-distance: 1.7rem;
	--limited-max-width: 800px;

	/* Section colors */
	/* -- About */
	--intro-backround-color: var(--color-white);
	--main-skills-backround-color: var(--color-grey-light);
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	color: var(--color-grey-dark);
	-webkit-font-smoothing: antialiased;
}

main {
	padding: calc(var(--page-padding)/2) var(--page-padding);
}

h1, h2, h3, h4, h5, h6, dt {
    font-weight: 700;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 1rem;
}

p, dd {
	font-size: 1rem;
	font-weight: 400;
    line-height: 1.45rem;
}

ul img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

ul {
	list-style-type: none
}

li {
	display: flex;
}

.button {
	border-radius: 25px;
	border: 2px solid transparent;
	color: var(--color-grey-dark);
	display: inline-block;
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 1.5px;
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.button--primary {
	border-color: var(--color-grey-dark);
	color: var(--color-grey-dark);
}

.button--primary:hover {
	background: var(--color-grey-dark);
	color: var(--color-white);
}

/* Fonts */
@font-face {
  	font-family: 'Rubik';
  	src: url('../assets/fonts/Rubik-Light.ttf') format('truetype');
  	font-weight: 300;
  	font-style: normal;
}

@font-face {
  	font-family: 'Rubik';
  	src: url('../assets/fonts/Rubik-LightItalic.ttf') format('truetype');
  	font-weight: 300;
  	font-style: italic;
}

@font-face {
  	font-family: 'Rubik';
  	src: url('../assets/fonts/Rubik-Regular.ttf') format('truetype');
  	font-weight: 400;
  	font-style: normal;
}

@font-face {
  	font-family: 'Rubik';
  	src: url('../assets/fonts/Rubik-RegularItalic.ttf') format('truetype');
  	font-weight: 400;
  	font-style: italic;
}

@font-face {
  	font-family: 'Rubik';
  	src: url('../assets/fonts/Rubik-Medium.ttf') format('truetype');
  	font-weight: 500;
  	font-style: normal;
}

@font-face {
  	font-family: 'Rubik';
  	src: url('../assets/fonts/Rubik-MediumItalic.ttf') format('truetype');
  	font-weight: 500;
  	font-style: italic;
}

@font-face {
  	font-family: 'Rubik';
  	src: url('../assets/fonts/Rubik-Bold.ttf') format('truetype');
  	font-weight: 700;
  	font-style: normal;
}

@font-face {
  	font-family: 'Rubik';
  	src: url('../assets/fonts/Rubik-BoldItalic.ttf') format('truetype');
  	font-weight: 700;
  	font-style: italic;
}

@font-face {
  	font-family: 'Rubik';
  	src: url('../assets/fonts/Rubik-Black.ttf') format('truetype');
  	font-weight: 900;
  	font-style: normal;
}

@font-face {
  	font-family: 'Rubik';
  	src: url('../assets/fonts/Rubik-BlackItalic.ttf') format('truetype');
  	font-weight: 900;
  	font-style: italic;
}














