.profileSection {
	display: flex;
}

.profileSection div {
	padding: 1rem;
}

.profileSection div:first-of-type {
	background-image
}

.profileSection div:last-of-type {
	
}

.profileSection img {
	width: 360px;
}

ul img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

ul {
	list-style-type: none
}

li {
	display: flex;
}